<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="/static/progress_modal.css" rel="stylesheet" type="text/css" />
  <link href="/static/reset.css" rel="stylesheet" type="text/css" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Tenor+Sans&display=swap"
    rel="stylesheet" />
  <title>MemoSync Register</title>
</head>

<body>
    <div class="modal-container">
      <div class="modal-content">
        <div class="modal-header">
          <h2>
            Create New Task
          </h2>
          <span class="close">&times;</span>


        </div>
        <div class="modal-body">
          <form action="">
            <label for="task">Enter a task:</label>
            <input type="text" id="task" name="task" placeholder="e.g meeting">
            <label for="description">Enter a description:</label>
            <input type="text" id="description" name="description" placeholder="e.g team meeting">
            <label for="deadline_date">Enter a deadline (date):</label>
            <input type="text" id="deadline_date" name="deadline_date" placeholder="e.g april 13, 2024">
          </form>

          
        </div>
        <div class="modal-footer ">
          <button class="modal-create-btn">Create</button>
          
        </div>

      </div>
    </div>
</body>

<script src="/static/js/progress-modal.js"></script>

</html>