<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="/static/progress_bar.css" rel="stylesheet" type="text/css" />
  <link href="/static/reset.css" rel="stylesheet" type="text/css" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Tenor+Sans&display=swap"
    rel="stylesheet" />
  <title>MemoSync Register</title>
</head>

<body>

  % include('header_base.html')

  <div id="container">

    <button class="create-btn">Create</button>

    <div id="progress_container">
      <table>
        <thead>
          <tr>
            <th class="task">Task</th>
            <th class="description">Description</th>
            <th class="date">Date</th>
            <th class="status">Status</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Project</td>
            <td>Systemutveckling</td>
            <td>
              <input class="date_input" value="2024-07-22" type="date" name="date" min="2024-01-01" max="2025-12-31">
            </td>
            <td>
              <form action="#">
                <select name="status" id="status">
                  <option value="choose_status"  disabled>Choose Status</option>
                  <option value="not_started" selected>Not Started</option>
                  <option value="in_progress">In Progress</option>
                  <option value="done">Done</option>
                </select>
              </form>
            </td>
          </tr>

        </tbody>
      </table>

    </div>



  </div>
</body>
<script src="/static/js/progress-modal.js"></script>

</html>