<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="/static/calendar.css" rel="stylesheet" type="text/css" />
  <link href="/static/reset.css" rel="stylesheet" type="text/css" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Tenor+Sans&display=swap"
    rel="stylesheet" />
  <script src="
  https://cdn.jsdelivr.net/npm/fullcalendar@6.1.11/index.global.min.js
  "></script>
  <script>

    document.addEventListener('DOMContentLoaded', function() {

      // popup
      add_event_btn = document.querySelector('#add_event_btn')
      background_create_event = document.querySelector('.background_create_event')
      container_create_event = document.querySelector('.container_create_event')
      background_view_event = document.querySelector('.background_view_event')
      container_view_event = document.querySelector('.container_view_event')
      paragraphs = document.querySelectorAll('#event_info')

      add_event_btn.addEventListener('click', function() {
        background_create_event.classList.add('show')
        container_create_event.classList.add('show')
      });

      background_create_event.addEventListener("click", function() {
        background_create_event.classList.remove('show')
        container_create_event.classList.remove('show')
      });

      background_view_event.addEventListener("click", function() {
        background_view_event.classList.remove('show')
        container_view_event.classList.remove('show')
      });

      // this creates a default datestamp for the input valeus
      var currentDate = new Date().toISOString().split('T')[0];
      document.getElementById('start_date').value = currentDate;
      document.getElementById('end_date').value = currentDate;

      var calendarEl = document.getElementById('calendar');
      var calendar = new FullCalendar.Calendar(calendarEl, {

        // this code shows the diffrent views
        initialView: 'timeGridWeek',
        headerToolbar: {
          left: 'prev,next',
          center: 'title',
          right: 'multiMonthYear,dayGridMonth,timeGridWeek,timeGridDay,listWeek' // user can switch between the two
        },

        // You can select days with selectable true
        selectable: true,

        eventSources: [

        // your event source
        {
          url: '/get_events', // use the `url` property
          color: '#A63A50',    // an option!
          textColor: 'white'  // an option!
        }

      ],

      eventClick: function(info) {
      background_view_event.classList.add('show')
      container_view_event.classList.add('show')
      paragraphs[0].innerText =  'Event Name: ' + info.event.title
      paragraphs[2].innerHTML = '<a href="delete/event/' + info.event.id + '" id="delete_event_link">Delete Event</a>';
      // change the border color just for fun
      info.el.style.border = '1.5px solid #2c3e50';
    }

      });
      calendar.render();
    });

  </script>
  <title>MemoSync Register</title>
</head>

<body>

  % include('header_base.html')

  <div class="create_event">
    <button id="add_event_btn">Add event</button>
  </div>

  <!-- popup for creating event -->
  <div class="background_create_event"></div>
  <div class="container_create_event">
    <form action="/add_event" method="post">

      <label for="event_name">Event Name</label>
      <input type="text" name="event_name" id="event_name" placeholder="Event Name">

      <label for="start_date">Start Date</label>
      <input type="date" name="start_date" id="start_date">

      <label for="start_time">Start Time</label>
      <input type="time" name="start_time" id="start_time">

      <label for="end_date">End Date</label>
      <input type="date" name="end_date" id="end_date">

      <label for="end_time">End Time</label>
      <input type="time" name="end_time" id="end_time">

      <button type="submit">Add</button>

    </form>
  </div>

  <!-- popup for event info -->
  <div class="background_view_event"></div>
  <div class="container_view_event">
    <p id="event_info"></p>
    <p id="event_info"></p>
    <p id="event_info"></p>
    <!-- <form action="" method="post">
      <button id="delete_event_btn">Delete Event</button>
    </form> -->
  </div>

  <div id='calendar'></div>

</body>

</html>