<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="/static/calendar.css" rel="stylesheet" type="text/css" />
  <link href="/static/reset.css" rel="stylesheet" type="text/css" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Tenor+Sans&display=swap"
    rel="stylesheet" />
  <script src="
  https://cdn.jsdelivr.net/npm/fullcalendar@6.1.11/index.global.min.js
  "></script>
  <script>

    document.addEventListener('DOMContentLoaded', function() {

      // popup
      add_event_btn = document.querySelector('#add_event_btn')
      background_create_event = document.querySelector('.background_create_event')
      container_create_event = document.querySelector('.container_create_event')
      
       // this creates a default datestamp for the input valeus
       var currentDate = new Date().toISOString().split('T')[0];
       document.getElementById('start_date').value = currentDate;
       document.getElementById('end_date').value = currentDate;

      add_event_btn.addEventListener('click', function() {
        background_create_event.classList.add('show')
        container_create_event.classList.add('show')
      });

      background_create_event.addEventListener("click", function() {
        background_create_event.classList.remove('show')
        container_create_event.classList.remove('show')
      });

      var calendarEl = document.getElementById('calendar');
      var calendar = new FullCalendar.Calendar(calendarEl, {})
    });
 
  </script>
</head>

<body>

    <button id="add_event_btn">Add event</button>
  </div>

  <!-- popup for creating event -->
  <div class="background_create_event"></div>
  <div class="container_create_event">
    <form action="/add_event" method="post">

      <label for="event_name">Event Name</label>
      <input type="text" name="event_name" id="event_name" placeholder="Event Name">

      <label for="start_date">Start Date</label>
      <input type="date" name="start_date" id="start_date">

      <label for="start_time">Start Time</label>
      <input type="time" name="start_time" id="start_time">

      <label for="end_date">End Date</label>
      <input type="date" name="end_date" id="end_date">

      <label for="end_time">End Time</label>
      <input type="time" name="end_time" id="end_time">

      <button type="submit">Add</button>

    </form>
  </div>

  <div id='calendar'></div>

</body>

</html>