<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="static/header_base.css" />
  <link href="/static/reset.css" rel="stylesheet" type="text/css" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Tenor+Sans&display=swap"
    rel="stylesheet" />
  <title>Header</title>
</head>

<body>
  <header>
    <aside>
      <a href="/overview"><span>M</span>EMO<span>S</span>YNC</a>
      <ul>
        <li><a href="/calendar">Calendar</a></li>
        <li><a href="/to_do_list">To-Do List</a></li>
        <li><a href="">Progress Table</a></li>
      </ul>
    </aside>
    <div>
      <div></div>
      <img id="hamburger_btn" src="static/pic/Hamburger_icon.png" alt="hamburger menu" />
    </div>
  </header>
  <!-- Slide In Menu -->
  <div class="header_slide_in_background"></div>
  <section class="header_slide_in_container">
    <h2>Menu</h2>
    <ul>
      <li><a href="/calendar">Calendar</a></li>
      <li><a href="/to_do_list">To-Do List</a></li>
      <li><a href="">Progress Table</a></li>
    </ul>
  </section>
</body>

</html>
<script src="static/js/header_base.js"></script>