<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/index_style.css" rel="stylesheet" type="text/css">
    <link href="static/reset.css" rel="stylesheet" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Tenor+Sans&display=swap"
        rel="stylesheet">
    <title>MemoSync</title>
</head>

<body>

    <header>
        <h1><span>M</span>EMO<span>S</span>YNC</h1>
    </header>

    <main>
        <h2>Welcome to <br> <span>M</span> E M O <span>S</span> Y N C</h2>
        <a href="/" class="register_link">Register</a>
        <a href="/">Already have an account?</a>
    </main>

</body>

</html>