<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/static/login.css" rel="stylesheet" type="text/css" />
    <link href="/static/reset.css" rel="stylesheet" type="text/css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Tenor+Sans&display=swap"
        rel="stylesheet" />
    <link rel="icon" href="/static/pic/Memosync_Calendar_Tab.png">
    <title>MemoSync - Login</title>
</head>

<body>
    <div class="login">
        <form action="/login" method="post">
            <fieldset>
                <label for="email" id="header">Login</label>

                <!-- If email or password was wrong -->
                % if email_or_password_wrong:
                <p style="color: red;">Fel Email eller Lösenord... <br> Försök Igen</p>
                % end

                <input type="email" id="email" name="email" class="form-control" required placeholder="Email" />
                <input type="password" name="password" class="form-control" required placeholder="Password" />
                <input type="submit" id="submit" value="Login">
            </fieldset>
        </form>
    </div>
</body>

</html>