% include('header_base.html')
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/static/overview.css" rel="stylesheet" type="text/css" />
    <link href="/static/reset.css" rel="stylesheet" type="text/css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Tenor+Sans&display=swap"
        rel="stylesheet" />
    <title>MemoSync - Overview</title>
</head>

<body>
    <main>
        <div id="top">
            <section id="left">
                <h2>To-Do List</h2>
                <section id="todo"></section>
            </section>
            <section id="right">
                <h2>Calendar</h2>
                <section id="calendar"></section>
            </section>
        </div>
        <div id="bottom">
            <h2>Progress Bar</h2>
            <section id="progress">
            </section>
        </div>
    </main>

</body>

</html>