<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/static/progress_table.css" rel="stylesheet" type="text/css" />
    <link href="/static/progress_modal.css" rel="stylesheet" type="text/css" />
    <link href="/static/reset.css" rel="stylesheet" type="text/css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Tenor+Sans&display=swap"
        rel="stylesheet" />
    <title>MemoSync Register</title>
</head>

<body>

    % include('header_base.html')

    <div id="container">

        <!--Create button for opening modal-->

        <button id="create-btn">Create</button>

        <!--modal overlay prevents the user from interacting with the content below the modal-->
        <!--<div class="modal-overlay"></div>-->


        <!--Modal for create/add new task-->
        <div class="modal-container">
            <div class="modal-content">
                <div class="modal-header">
                    <h2>
                        Create New Task
                    </h2>
                    <span class="close">&times;</span>


                </div>
                <div class="modal-body">

                    <form action="/add_project" id="task-form">

                        <label for="task">Enter a task:</label>
                        <input type="text" id="task" name="task" placeholder="e.g meeting" required>

                        <label for="description">Enter a description:</label>
                        <input type="text" id="description" name="description" placeholder="e.g team meeting" required>

                        <label for="deadline_date">Enter a deadline (date):</label>
                        <input type="text" id="deadline_date" name="deadline_date" placeholder="e.g april 13, 2024"
                            required>

                        <label for="status">
                            choose status:
                        </label>

                        <select name="status" id="status">
                            <option value="Choose status" disabled>Choose Status</option>
                            <option id="not-started" value="Not started" selected>Not Started</option>
                            <option id="in-progress" value="In progress">In Progress</option>
                            <option id="done" value="Done">Done</option>
                        </select>

                        <button type="submit" class="add-task-btn">Create</button>

                    </form>

                </div>

            </div>
        </div>
        <!--Container that shows all task in a tabell-->
        <div id="progress_container">
            <table>
                <thead>
                    <tr>
                        <th class="task">Task</th>
                        <th class="description">Description</th>
                        <th class="date">Date</th>
                        <th class="status">Status</th>
                    </tr>
                </thead>
                <tbody>


                    <tr></tr>

                </tbody>
            </table>

        </div>



    </div>
    <script src="/static/js/progress-modal.js"></script>
    <script src="/static/js/add-task.js"></script>
</body>

</html>