<!DOCTYPE html>
<html lang="sv">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="static/register.css" rel="stylesheet" type="text/css" />
    <link href="static/reset.css" rel="stylesheet" type="text/css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Tenor+Sans&display=swap"
      rel="stylesheet"
    />
    <title>Register</title>
  </head>
  <body>
    <div class="register">
      <h2>Register</h2>
      <p>First Name</p>
      <input
        type="text"
        class="form-control"
        required
        placeholder="Your First Name"
      />
      <p>Last Name</p>
      <input
        type="text"
        class="form-control"
        required
        placeholder="Your Last Name"
      />
      <p>E-mail</p>
      <input
        type="text"
        class="form-control"
        required
        placeholder="Your Email"
      />
      <p>Password</p>
      <input
        type="text"
        class="form-control"
        required
        placeholder="Your Password"
      />
      <button>Register</button>
    </div>
  </body>
</html>
