<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/static//register.css" rel="stylesheet" type="text/css" />
    <link href="/static/reset.css" rel="stylesheet" type="text/css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Tenor+Sans&display=swap"
      rel="stylesheet"
    />
    <title>MemoSync Register</title>
  </head>

  <body>
    <form action="/register/add/user" method="post" class="register">
      <h2>Register</h2>
      <label for="name-field">First Name:</label>
      <input type="text" name="first_name" class="form-control" label="" required />
      <label for="lastname-field">Last Name:</label>
      <input type="text" name="last_name" class="form-control" required />
      <label for="email">Email:</label>
      <input type="email" name="email" class="form-control" required />
      <label for="password">Password:</label>
      <input type="password" name="password" class="form-control" required />
      <button type="submit">Register</button>
    </form>
  </body>
</html>
