<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/static//register.css" rel="stylesheet" type="text/css" />
    <link href="/static/reset.css" rel="stylesheet" type="text/css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Tenor+Sans&display=swap"
      rel="stylesheet"
    />
    <title>MemoSync Register</title>
  </head>

  <body>
    <form action="/register/add/user" method="post" class="register">
      <h2>Register</h2>
      % if message:
        <p>Detta Kontor Finns Redan</p>
      % end
      <label for="name-field"></label>
      <input type="text" name="first_name" class="form-control" required placeholder="Name" />
      <label for="lastname-field"></label>
      <input type="text" name="last_name" class="form-control" required placeholder="Last Name" />
      <label for="email"></label>
      <input type="email" name="email" class="form-control" required placeholder="E-mail" />
      <label for="password"></label>
      <input type="password" name="password" class="form-control" required placeholder="Password" />
      <input type="submit" id="submit" value="Register">
      
    </form>
  </body>
</html>
