<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="/static/to_do.css" rel="stylesheet" type="text/css" />
  <link href="/static/reset.css" rel="stylesheet" type="text/css" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Tenor+Sans&display=swap"
    rel="stylesheet" />
  <title>MemoSync</title>
</head>

<body>

  % include('header_base.html')

  <h2>To-Do Lists</h2>
  <div class="create">
    <button id="open_popup_options_btn">Create</button>
    <div class="dropdown-content">
      <a id="open_popup_btn_1">Create To-Do List</a>
      <a id="open_popup_btn_2">Add Task to List</a>
    </div>
  </div>


  <!-- create to-do popup -->
  <section id="popup_background_1"></section>
  <div id="dialog" class="hidden_dialog">
    <div id="popup_container_1">
      <form action="/create_to_do_list" method="POST">
        <fieldset>
          <legend>Create New To-Do List</legend>
          <label for="title">Enter a category for your to-do list:</label>
          <input type="text" name="title" id="title" required placeholder="e.g grocery list">
          <label for="description">Enter a description:</label>
          <input type="text" name="description" id="description" placeholder="e.g. items for current week's groceries">
          <label for="colour">Select colour for your to-do list:</label>
          <input type="text" name="colour" id="colour" placeholder="green or #A63A50">
          <input type="submit" id="submit" value="Create">
        </fieldset>
      </form>
    </div>
  </div>

  <!-- add task popup -->
  <section id="popup_background_2"></section>
  <div id="dialog" class="hidden_dialog">
    <div id="popup_container_2">
      <form action="/add_task_to_do_list" method="POST">
        <fieldset>
          <legend>Add Task to To-Do List</legend>
          <label for="task">Enter task:</label>
          <input type="text" name="task" id="task" required placeholder="e.g meeting tomorrow">
          <label for="choice">Select To-Do List:</label>
          <select name="choice" id="choice">
            % if category:
            % for cate in category:
            <option>{{cate[2]}}</option>
            % end
            % end
            <input type="submit" id="add" value="Add">
        </fieldset>
      </form>
    </div>
  </div>

  <!--Display to-do lists -->
  <div id="to_do_container">
    % for cate in category:
    <div id="to_do_lists">
      <div id="to_do_title">
        <h3>{{ cate[2] }}</h3>
        <button class="delete_todo" id="{{ cate[0]}}">✖</button>
      </div>
      <div id="to_do_tasks">
        <h4>{{ cate[3]}}</h4>
        % for task in tasks:
        % if task[2] == cate[0]:
        <label>
          <input type="checkbox" class="task_checkbox">
          {{ task[3] }}
        </label>
        % end
        % end
      </div>
    </div>
    % end



</body>

</html>
<script src="/static/js/todo.js"></script>