body {
    background-color: #F0E7D8;
    font-family: monospace;
}

#calendar {
    padding: 50px;
}

.fc .fc-button-primary {
    background: #A63A50;
    color: white;
}

.fc .fc-daygrid-day-frame {
    background-color: #a63a507d;
}

.create_event > button {
    display: block;
    margin-top: 20px;
    margin-left: 20px;
    background-color: #a63a50;
    border: 0.8px solid black;
    color: white;
    border-radius: 10px;
    padding: 13px;
    padding-left: 30px;
    padding-right: 30px;
    font-family: "Montserrat", sans-serif;
    cursor: pointer;
}

/* create event */

.create_event > button {
    display: block;
    margin-top: 20px;
    margin-left: 20px;
    background-color: #a63a50;
    border: 0.8px solid black;
    color: white;
    border-radius: 10px;
    padding: 13px;
    padding-left: 30px;
    padding-right: 30px;
    font-family: "Montserrat", sans-serif;
    cursor: pointer;
}

.background_create_event {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.762);
    z-index: 3;
    pointer-events: none;
    visibility: hidden;
}

.background_create_event.show {
    pointer-events: all;
    visibility: visible;
}

.container_create_event {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    z-index: 4;
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
    transition: .5s all;
}

.container_create_event.show {
    pointer-events: all;
    visibility: visible;
    opacity: 1;
}

.container_create_event > form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.container_create_event > form > label {
    font-weight: bold;
    letter-spacing: .5px;
}

.container_create_event > form > input {
    width: 200px;
    border: 0;
    border-bottom: 2px solid #A63A50;
    padding: 10px 20px;
    outline: 0;
}

.container_create_event > form > button {
    background-color: transparent;
    border: 1px solid #A63A50;
    padding: 10px;
    border-radius: 25px;
    color: black;
    font-size: 16px;
    letter-spacing: .5px;
    cursor: pointer;
    transition: .5s all;
}

.container_create_event > form > button:hover {
    background-color: #A63A50;
    color: white;
}