body {
    margin: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    box-sizing: border-box;
    background-color: #E7DCCA;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

header > aside {
    display: flex;
    align-items: center;
    gap: 60px;
}

header > aside > a {
    color: #312822;
    font-size: 26px;
    margin: 0;
    font-family: monospace;
    letter-spacing: 2.5px;
    text-decoration: none;
}

header > aside > a > span {
    color: #A63A50;
    font-size: 34px;
}

header > aside > ul {
    display: flex;
    align-items: center;
    gap: 40px;
    margin: 0;
    padding: 0;
    list-style: none;
}

header > aside > ul > li {
    text-decoration: none;
}

header > aside > ul > li > a {
    color: #312822;
    letter-spacing: 1px;
    font-size: 16px;
    font-family: monospace;
    text-underline-offset: 3px;
    transition: .5s all;
}

header > aside > ul > li > a:hover {
    text-underline-offset: 8px;
}

header > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

header > div > div {
    height: 40px;
    width: 40px;
    background-color: #A63A50;
    border-radius: 50%;
    cursor: pointer;
}

header > div > img {
    height: 50px;
    width: 50px;
    cursor: pointer;
    display: none;
}

@media only screen and (max-width: 800px) {

    header > aside > ul {
        display: none;
    }
    
    header > div > img {
        display: block;
    }

}

@media only screen and (max-width: 450px) {

    header > aside > a {
        font-size: 22px;
    }
    
    header > aside > a > span {
        font-size: 30px;
    }

    header > div {
        gap: 15px;
    }

    header > div > div {
        height: 25px;
        width: 25px;
    }
    
    header > div > img {
        height: 32px;
        width: 32px;
    }

}

/* Header Slide In Menu */

.header_slide_in_background {
    z-index: 3;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.603);
    visibility: hidden;
    pointer-events: none;
}

.header_slide_in_background.show {
    visibility: visible;
    pointer-events: all;
}

.header_slide_in_container {
    z-index: 4;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 0vh;
    background-color: #E7DCCA;
    padding: 15px 40px;
    box-sizing: border-box;
    border-radius: 20px 0px 0px 20px;
    visibility: hidden;
    pointer-events: none;
    opacity: 0;
    transition: .5s all;
}

.header_slide_in_container.show {
    visibility: visible;
    pointer-events: all;
    width: 30vh;
    opacity: 1;
}

.header_slide_in_container > h2 {
    font-family: monospace;
    letter-spacing: 2.5px;
    font-size: 30px;
    margin: 0;
}

.header_slide_in_container > ul {
    list-style: none;
    padding: 0;
    margin: 40px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.header_slide_in_container > ul > li > a {
    color: #312822;
    letter-spacing: 1px;
    font-size: 16px;
    font-family: monospace;
    text-underline-offset: 3px;
    transition: .5s all;
}

.header_slide_in_container > ul > li > a:hover {
    text-underline-offset: 8px;
}