body {
    margin: 0;
    background-image: url(pic/rose.bg.jpg);
    background-size: cover;
    background-attachment: scroll;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.login {
    background-color: #ffffff;
    opacity: 0.7;
    max-width: 100%;
    min-width: 170px;
    padding: 30px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 15px;
    align-content: center;
    border-radius: 10px;
    box-shadow: 0 0 10px #000000;
    font-family: "Montserrat",  sans-serif;
}

#header {
    font-size: 25px;
    font-weight: 700;
    padding-bottom: 5px;
}

.login input {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
}

#press {
    display: block;
    margin-top: 10px;
    background-color: transparent;
    border: 1.5px solid #C35F5F;
    border-radius: 10px;
    padding: 5px;
    padding-left: 30px;
    padding-right: 30px;
}

#press:hover {
    background-color: #C35F5F;
    transition-duration: 0.2s;
    color: white;
}

input {
    border: none;
    border-bottom: 1.5px solid #C35F5F;
    padding-bottom: 10px;
    padding-top: 10px;
}

@media screen and (max-width: 500px) {
    .login {
        max-width: 50%;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .login > h2 {
        font-size: 20px;
    }

    .login input {
        margin-top: 10px;
        margin-bottom: 10px;
        width: 90%;
    }

    #press {
        padding-left: 20px;
        padding-right: 20px;
    }
}