body {
    background-color: #F0E7D8; 
}

#container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

}

#container h2 {
    font-family: monospace;
    text-decoration: underline;
    text-underline-offset: 3px;
    color: #312822;
    margin: 20px 0px 0px 30px;
    letter-spacing: 1px;
    font-size: 20px;
}


#create-btn{
    margin-top: 20px;
    margin-left: 30px;
    background-color: #a63a50;
    border: 0.8px solid black;
    border-radius: 10px;
    padding: 13px 30px;
    font-family: "Montserrat", sans-serif;
    cursor: pointer;

}

#create-btn:hover {
    background-color: rgba(166, 58, 80, 0.9); /* Change background color on hover */
}

#progress_container {
    border: 1px solid black;
    background-color: #f8f8f8;
    margin: 20px auto ;
    border-radius: 10px;
    padding: 10px 50px;
    width: 80%;

}

#progress_container table{
    width: 100%;
    border-collapse: collapse ;

}

#progress_container th {
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    font-family: monospace;
    font-size: 16px;
    padding: 8px;

}

/*change the width of cells in HTML table*/
.task{
    width: 20%;
}

.description{
    width: 40%;
}

.date{
    width: 20%;
}

.status{
    width: 20%;
}

#progress_container td {
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    padding: 6px;
    text-align: center;
    font-family: monospace;
}

/* Detta tar bort höger border på sista elementet i <tr> */
#progress_container td:last-child, #progress_container th:last-child{
    border-right: none;
}

.status-select{
    max-width: 104px;
    background-color: #f8f8f8;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 3px;
    font-size: 14px;
    border: none;
    cursor: pointer;
}

/*Ta bor fokusram */
.status-select:focus{
    outline: none;
}

.status-select option{
    background-color: rgba(251, 249, 245, 0.6);
    text-align: center;

}
.status-select .not-started {
    background-color: rgba(255, 0, 0, 0.3);
}

.status-select .in-progress {
    background-color: rgba(255, 255, 0, 0.3);
}

.status-select .done {
    background-color: rgba(0, 255, 0, 0.3); 
}

