:root {
    --box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    --light-grey-border: 1px solid #ccc;
    --btn-color: #a63a50;
    --border: 1px solid black;

}


/* give container fixed position and z-index to move it to the top */
.modal-overlay {
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.441);
    pointer-events: none;
    opacity: 0;
    transition: opacity 1s ease-in-out, visibility 1s ease-in-out;

}

/*Show class is to the overlay, its visibility changes with JS*/
.modal-overlay.show {
    visibility: visible;
    pointer-events: auto;
    opacity: 1;
}

/*hide modal overlay with 1 second delay*/

.modal-overlay:not(.show) {
    transition-duration: 2s;
}

/*modal container*/
.modal-container {
    visibility: hidden;
    position: fixed;
    width: 400px;
    max-width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #F0E7D8;
    border-radius: 15px;
    padding: 50px;
    z-index: 1000;
    opacity: 0;
    transition: opacity 1s ease-in-out, visibility 1s ease-in-out;
}

.modal-container.show {
    visibility: visible;
    pointer-events: auto;
    opacity: 1;

}

/*Modal header */
.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.modal-header h3 {
    font-family: "Montserrat", sans-serif;
    text-decoration: underline;
    text-underline-offset: 3px;
    font-size: 18px;
    margin: 0;

}

/* "X" in modal header to close the modal*/
.close {
    color: black;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    background: none;
    border: none;
}

.close:hover,
.close:focus {
    color: var(--btn-color);
    text-decoration: none;

}

/*the part of the modal, container that contains the form and submit button*/
.modal-form-container {
    margin-top: 5px;
}

/* Styling for the form*/
.modal-form-container>form {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

form>fieldset>* {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

/*syling form labels*/
.modal-form-container>form label {
    font-size: 12pt;
    font-family: "Montserrat", sans-serif;
}

/*Styling form inputs with type="text"*/
.modal-form-container form input[type="text"] {
    width: 100%;
    border-radius: 5px;
    padding: 8px;
    border: none;
}

.modal-form-container form input[type="date"] {
    width: 100%;
    border-radius: 5px;
    padding: 8px;
    border: none;
}

/*give the input field border bottom in focus*/
.modal-form-container form input[type="text"]:focus,
.modal-form-container form input[type="date"]:focus {
    outline: none;
    border-bottom: 1px solid var(--btn-color);
}

/*Create button for adding the task to table*/
.add-task-btn {
    border-radius: 5px;
    padding: 6px 14px;
    background-color: #a63a50;
    color: white;
    cursor: pointer;
    border: 0.8px solid #7a2839;
    font-family: "Montserrat", sans-serif;
}

.add-task-btn:hover {
    background-color: rgba(166, 58, 80, 0.5);
    border-color: #a63a50;
    /* Change background color on hover */
}

@media screen and (max-width: 500px) {
    .modal-container {
        width: 80%;
        max-width: none;
        padding: 30px;
    }

    .modal-header h3 {
        line-height: 22px;
    }
}