body {
  margin: 0;
  background-color: #f0e7d8;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 30px;
}

#container h2 {
  font-family: monospace;
  text-decoration: underline;
  text-underline-offset: 3px;
  color: #312822;
  letter-spacing: 1px;
  font-size: 20px;
  margin-bottom: 30px;
}

#create-btn {
  background-color: #a63a50;
  border: 0.8px solid black;
  border-radius: 10px;
  padding: 13px 30px;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
  color: white;
}

#create-btn:hover {
  background-color: rgba(166, 58, 80, 0.7);
  /* Change background color on hover */
}

#progress_container {
  width: 75%;
  margin: 0px auto;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  background-color: #f8f8f8;
  border-radius: 10px;
  padding: 20px;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

#progress_container table {
  width: 100%;
  border-collapse: collapse;
}

#progress_container th {
  top: 0;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
  font-family: monospace;
  padding: 8px;
  text-align: center;
  font-size: 18px;
  cursor: pointer;
}

#progress_container td {
  position: relative;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
  padding: 6px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

#progress_container th:last-child,
#progress_container td:last-child {
  border-right: none;
}

#progress_container .status-selector {
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
  border: none;
  border-radius: 12px;
}

/*Ta bor fokusram */
#progress_container .status-selector:focus {
  outline: none;
}

#progress_container .status-selector option {
  background-color: rgba(251, 249, 245, 0.6);
  text-align: center;
}

#progress_container .editable-cell {
  position: relative;
}

#progress_container .editable-cell:focus {
  outline: none;
  border-bottom: 1px solid #a63a50;
}

#progress_container .editable-cell button {
  position: absolute;
  cursor: pointer;
  border: none;
  left: -18px;
  background-color: transparent;
  transition: transform 0.3s ease;
}

#progress_container .editable-cell button:hover {
  transform: scale(1.2);
}

#progress_container .editable-cell img {
  width: 20px;
  height: 20px;
}


#progress_container th.active,
#progress_container td.active {
  color: #cf7a74;
}

#progress_container th span.icon-arrow {
  display: inline-block;
  position: relative;
  text-align: center;
  font-size: 16px;

}

#tutor {
  font-family: "Montserrat", sans-serif;
  position: fixed;
  right: 20px;
  bottom: 20px;
  background-color: #A63A50;
  width: 45px;
  height: 40px;
  border-radius: 50%;
  color: #E7DCCA;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}



@media screen and (max-width: 770px) {
  #progress_container {
    width: 90%;
    margin: 0px auto;
  }


  #create-btn {
    width: 90%;
    margin: 20px auto;
  }
}

@media screen and (max-width: 500px) {
  #progress_container table th {
    display: none;
  }

  #progress_container table td {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 8px 5px;
    border-right: none;
    text-align: start;

  }

  #progress_container table td:first-child {
    padding-top: 30px;
    border-top: 1px solid black;
  }

  #progress_container table td:last-child {
    padding-bottom: 10px;
  }

  #progress_container table td::before {
    content: attr(data-cell) ": ";
  }

  td .delete-task-btn {
    padding: 2px;

  }

  td .delete-task-btn img {
    width: 18px;
    height: 18px;
  }

}