body {
  margin: 0;
  background-image: url(pic/rose.bg.jpg);
  background-size: cover;
  background-attachment: scroll;
  margin: 0;
  height: 100vh;
  position: relative;
}

header {
  position: absolute;
  top: 10px;
  left: 10px;
}

header > h1 {
  color: #f0e7d8;
  font-family: "Montserrat", sans-serif;
  margin: 10px;
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 2px;
}

h1 > span {
  font-size: 30px;
}

main {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

main > h2 {
  color: #f0e7d8;
  font-size: 40pt;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

h2 > span {
  font-size: 46pt;
}

main > .register_link {
  padding: 10px 40px;
  border-radius: 20px;
  border: 1px solid #f0e7d8;
  color: #f0e7d8;
  text-decoration: none;
  font-size: 20px;
  transition: 0.5s all;
}

main > .register_link:hover {
  background-color: #f0e7d8;
  color: black;
}

main > a {
  color: #f0e7d8;
}
