body {
  margin: 0;
  background-color: #f0e7d8;
}

body>h2 {
  font-family: monospace;
  text-decoration: underline;
  text-underline-offset: 3px;
  color: #312822;
  margin: 30px;
  letter-spacing: 1px;
  font-size: 20px;
}

.create {
  position: relative;
  margin: 20px 30px;
  max-width: 130px;
}

.create button {
  display: block;
  background-color: #a63a50;
  border: 0.8px solid black;
  border-radius: 10px;
  padding: 13px 30px;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
  color: white;
  width: 100%;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #f1f1f1;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 10px 10px;
  z-index: 1;
  overflow: hidden;
  font-family: "Montserrat", sans-serif;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  cursor: pointer;
  font-size: 9pt;
}

.dropdown-content a:hover {
  background-color: #e3e3e3;
}

#open_popup_options_btn:hover+.dropdown-content,
.dropdown-content:hover {
  display: block;

}

.create:hover #open_popup_options_btn {
  border-radius: 10px 10px 0 0;
}

#popup_background_1,
#popup_background_2 {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.441);
  pointer-events: none;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

#popup_background_1.show,
#popup_background_2.show {
  visibility: visible;
  pointer-events: auto;
  opacity: 1;
}

/* Close background with 1 second delay*/
#popup_background_1:not(.show),
#popup_background_2:not(.show) {
  transition-duration: 2s;
}


#popup_container_1,
#popup_container_2 {
  position: fixed;
  width: 300px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 50px;
  background-color: #f0e7d8;
  border-radius: 15px;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  pointer-events: none;
}

#popup_container_1.show,
#popup_container_2.show {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

/*popup container 1 header */
#popup_container_1 #popup_1_header,
#popup_container_2 #popup_2_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

#popup_container_1 #popup_1_header h3,
#popup_container_2 #popup_2_header h3 {
  font-family: "Montserrat", sans-serif;
  text-decoration: underline;
  text-underline-offset: 3px;
  font-size: 18px;
  margin: 0;

}

/* "X" in modal header to close the modal*/
.close_1,
.close_2 {
  color: black;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  background: none;
  border: none;
}

.close_1:hover,
.close_1:focus,
.close_2:hover,
.close_2:focus {
  color: #A63A50;
  text-decoration: none;

}

#popup_container_1>form {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

#popup_container_2>form {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

form>fieldset>* {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

form>fieldset>legend {
  font-size: 16pt;
  margin-bottom: 15px;
  text-decoration: underline;
  text-underline-offset: 3px;
  font-family: "Montserrat", sans-serif;
}

form>fieldset>label {
  font-size: 12pt;
  font-family: "Montserrat", sans-serif;
}

input[type="text"] {
  width: 100%;
  border-radius: 5px;
  padding: 8px;
  border: none;
}

select[name="choice"] {
  width: 100%;
  border-radius: 5px;
  padding: 8px;
  border: none;
}

select[name="choice"]:focus {
  outline: none;
  border-bottom: 1px solid #A63A50;
}

option:focus {
  outline: none;
  border-bottom: 1px solid #A63A50;
}

input[type="text"]:focus {
  outline: none;
  border-bottom: 1px solid #A63A50;
}

#submit {
  border-radius: 5px;
  padding: 6px 14px;
  background-color: #a63a50;
  color: white;
  cursor: pointer;
  border: none;
}

#submit:hover {
  background-color: rgba(166, 58, 80, 0.5);
}

#add {
  border-radius: 5px;
  padding: 6px 14px;
  background-color: #a63a50;
  color: white;
  cursor: pointer;
  border: none;
}

#add:hover {
  background-color: rgba(166, 58, 80, 0.5);
}

input[type="submit"] {
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

#to_do_menu {
  background-color: white;
  border-radius: 5px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 20px;
  top: 190px;
  width: 110px;
  box-sizing: border-box;
}

#to_do_menu>a {
  text-decoration: none;
  color: black;
  font-family: "Montserrat", sans-serif;
}

#to_do_menu>#first {
  border-bottom: #312822;
}

.to_do_container {
  display: flex;
  flex-wrap: flex;
  margin: 20px 30px;
  justify-content: flex-start;
  justify-content: space-around;
}

.to_do_lists {
  background-color: #f8f8f8;
  border: 1px solid black;
  border-radius: 5px;
  min-height: 50px;
  overflow: hidden;
  width: 23%;
  margin-right: 10px;
  margin-bottom: 10px;
}

.to_do_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #a63a50;
  padding: 10px;

}

.to_do_header>h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 14pt;
  color: white;
}

.delete_list_btn {
  height: 22px;
  width: 22px;
  cursor: pointer;
  border: none;
  /*du kan enkelt ge backgrundfärg nedan*/
  background-color: transparent;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.delete_list_btn img {
  width: 20px;
  height: 20px;
  transition: transform 0.3s ease;
}

.delete_list_btn img:hover {
  transform: scale(1.2);
}

.to_do_body {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.to_do_body>h4 {
  font-family: monospace;
  font-size: 11pt;
  padding: 5px 0 5px 0;
}

.to_do_body .task {
  padding: 5px 5px 5px 0;
  font-family: "Montserrat", sans-serif;
  font-size: 10pt;
  border-radius: 5px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.to_do_body .task:hover {
  background-color: #A63A50;
  cursor: pointer;
}

.checked {
  text-decoration: line-through;
  color: #bfbfbf;
}

.task_checkbox:hover {
  cursor: pointer;
}

.delete_todo_task_btn {
  display: none;
}

.to_do_body .task:hover .delete_todo_task_btn {
  display: inline-block;
  background-color: #A63A50;
  border: none;
  padding: 0;
  border-radius: 5px;
  cursor: pointer;
  margin-left: auto;
  transition: transform 0.3s ease;

}

.delete_todo_task_btn:hover {
  transform: scale(1.2);
}

.delete_todo_task_btn img {
  width: 18px;
  height: 18px;
  vertical-align: middle;
}

#dialog {
  background-color: rgba(0, 0, 0, 0.6);
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.hidden_dialog {
  visibility: hidden;
}

.shown_dialog {
  visibility: visible;
}

#tutor {
  font-family: "Montserrat", sans-serif;
  position: fixed;
  right: 20px;
  bottom: 20px;
  background-color: #A63A50;
  width: 45px;
  height: 40px;
  border-radius: 50%;
  color: #E7DCCA;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 770px) {

  .create {
    width: 90%;
    margin: 20px auto;
  }

  .create button,
  .dropdown-content {
    width: 100%;
    text-align: center;
  }

  .dropdown-content a {
    padding: 20px 30px;
  }

  #submit {
    padding: 10px 130px;
    width: 104%;
    margin-top: 20px;
  }

  .to_do_lists {
    width: 48%;
    min-width: 160px;
  }

  .create:hover #open_popup_options_btn {
    width: 100%;
  }
}

@media screen and (max-width: 500px) {

  #popup_container_1,
  #popup_container_2 {
    width: 200px;
  }


  .to_do_lists {
    width: 100%;

  }
}